{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "prettier"
  ],
  "env": {
    "browser": true,
    "mocha": true,
    "node": true,
    "es6": true
  },
  "globals": {
    "document": true,
    "window": true,
    "module": true,
    "OneSignal": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
      "ecmaVersion": 6,
      "sourceType": "module",
      "ecmaFeatures": {
          "jsx": true
      }
  },
  "rules": {
    "prettier/prettier": "error",
    "react/prop-types": 0
  },
  "plugins": [
    "prettier"
  ],
  "settings": {
    "react": {
      "version": "detect" // React version. "detect" automatically picks the version you have installed.
    },
    "linkComponents": [
      // Components used as alternatives to <a> for linking, eg. <Link to={ url } />
      "Hyperlink",
      {"name": "Link", "linkAttribute": "to"}
    ]
  }
}
