$button-border-radius: 2px;

.button {
  display: inline-block;
  padding: 1.33em 1.66em;
  border: 0;
  background-color: $theme-color-secondary;
  border-radius: 0.8em;
  color: $theme-color-white;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  text-transform: uppercase;
  white-space: normal;
  word-break: normal;

  &:visited {
    color: $theme-color-white;
  }

  &:active {
    background-color: #01811D;
    color: $theme-color-white;
  }

  &[disabled],
  &.disabled,
  &[disabled]:hover,
  &.disabled:hover {
    background-color: $disabled-background-color;
    color: $disabled-color;
    cursor: inherit;
  }

  @include breakpoint {
    &:hover {
      background-color: #01C12C;
      color: $theme-color-white;
    }
  }
}

.button--danger {
  background-color: $error-color;

  @include breakpoint {
    &:hover {
      background-color: lighten($error-color, 10%);
      color: $theme-color-white;
    }
  }
}

.button--flat {
  border: 0;
  background-color: transparent;
  box-shadow: none;
  color: $theme-color-secondary;

  &:visited {
    color: $theme-color-secondary;
  }

  &:hover {
    background-color: transparent;
    color: lighten($theme-color-secondary, 10%);
  }

  &:active {
    background-color: transparent;
    color: darken($theme-color-secondary, 10%);
  }
}

.button--touch {
  background-color: lighten($theme-color-secondary, 20%);
}

.button--loading,
.button--loading:visited,
.button--loading:hover,
.button--loading:active,
.button--loading[disabled] {
  background-color: transparent;
  background-image: url("/img/icons/button-loader.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 66% 66%;
  box-shadow: none;
  color: transparent;
}
button.playNowBtn{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 0.5em 0;
  margin: 1em 0;
}
button.newPlayNowBtn{
  display: flex;
  width: 6rem;
  align-items: center;
  border-radius: 7rem;
  justify-content: center;
  padding: 0.5em 0;
  margin: 0.5em 0;
}

.button--pulse{
	box-shadow: 0 0 0 0 rgba(236, 58, 85, 1);
	transform: scale(1);
	animation: pulse-red 2s infinite;
}

@keyframes pulse-red {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(236, 58, 85, 0.7);
	}
	
	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(236, 58, 85, 0);
	}
	
	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(236, 58, 85, 0);
	}
}
.tournaments-show-more-btn::after {
  content: "\25BC"; 
  font-size: 1rem;
  margin-left: 0.1rem;
}

.create-match-pulsing-btn {
  width: 220px;
  text-align: center;
  white-space: nowrap;
  display: block;
  margin: 50px auto;
  padding: 10px;
  box-shadow: 0 0 0 0 rgba(0, 168, 38, 0.7);
  border-radius: 10px;
  -webkit-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -moz-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -ms-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  font-size: 22px;
  font-weight: normal;
  text-decoration: none !important;
  color: #ffffff;
  transition: all 300ms ease-in-out;
}

a.create-match-pulsing-btn:hover {
  -webkit-animation: none;
  -moz-animation: none;
  -ms-animation: none;
  animation: none;
  color: #ffffff;
}


/* Animation */

@-webkit-keyframes pulsing {
  to {
    box-shadow: 0 0 0 30px rgba(232, 76, 61, 0);
  }
}

@-moz-keyframes pulsing {
  to {
    box-shadow: 0 0 0 30px rgba(232, 76, 61, 0);
  }
}

@-ms-keyframes pulsing {
  to {
    box-shadow: 0 0 0 30px rgba(232, 76, 61, 0);
  }
}

@keyframes pulsing {
  to {
    box-shadow: 0 0 0 30px rgba(232, 76, 61, 0);
  }
}

