.dynamic-form--gamer-tags-form{
  .form--gamer-tags-form{    
      
    .form-field--width-full {
      width: 100%;
    }
      
    .form-field--width-small{
      width: 20%;
    }
  
    .button {
      background-color: $theme-color-secondary;
    }
  }
}