.match__lobby__wrapper {
    align-items: center;
    justify-content: center;
}

.match__lobby__card {
    width: 26.5rem;
    height: 46rem !important;
    overflow: hidden;
    padding: 0rem !important;
    border-radius: 1rem;
}

.match__id__text {
    top: 4rem;
}