<!DOCTYPE html>
<html lang="en" class="no-js">

    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
        <title>Server Error</title>
        <meta property="og:title" content="Server Error" />
        <meta property="og:image" content="/img/linear_logo.svg" />
        <link rel="image_src" href="/img/linear_logo.svg" />
        <meta name="theme-color" content="#2196f3" />
        <link rel="manifest" href="/manifest.json" />
        <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <link rel="icon" sizes="144x144" href="/img/icons/144.png" />
        <link rel="canonical" value="/" />
        <link rel="stylesheet" href="/inline.css">
        <link rel="stylesheet" href="/style.css">
    </head>

    <body>
        <section class="content server-error">
            <h2 style="font-size: 3rem; margin-bottom: 1rem; line-height: 3rem">Under Maintenance</h2>
            <p>Our website is undergoing some maintenance. We're brewing something special for you. Do not worry, your matches and wallet balance will remain unaffected. Please check back soon.</p>
            <a class="button" href="https://play.gamechampions.com/">Go To Homepage</a>
      </section>    
    </body>

</html>
